// COLORS
$primary-color: #525252;
// $primary-color: #ca3e47;
$secondary-color: #414141;
// $secondary-color: #525252;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;

$dark-grey: #313131;

$dark-blue-text: #ca2e47; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
